  
.btn{
  display: block;
  height: 30px;
  color: #fff;
  font-size: 14px;
  /* padding: 10px; */
}

.btn.btn-primary{
  
  color: #fff;
  background-color: #337ab7;
  border-color:#2e6da4 ;
}
.btn.btn-warning{
  color: #fff;
  background-color: #f0ab4e;
  border-color: #eea236;
}
.btn.btn-danger{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.todo-list{
  margin-top: 44px;
  list-style: none;
}